body{
	margin: 0;
	padding: 0;
}
#container{
	margin: 0;
	padding: 0;
	width: 100%;
}
#header{
	background-color: #C6C6C6;
	height: 40px;
	width: 100%;
	border: 1px solid black;
}

#logo{
	float: left;
	font-family: Verdana;
	font-size:20px;
	padding-top: 8px;
}

#codeSelection ul{
	font-family: Helvetica;
	position: relative;
	top: 5px;
	width: 320px;
	padding: 0;
	margin: 0 auto;
	list-style: none;
}
#codeSelection li{
	margin-top: -1px; 
	padding: 6px 8px ;
	border: 1px solid black;
	float:left;
}
#run{
	margin-top: 10px; 
	float: right;
}
#runButton{
	position: relative;
	right: 10px;
	font-family: Helvetica;
	font-weight: bold;
	background-color: grey;
	border: 1px solid #000000;
	border-radius: 9px;
	height: 170%;
	width: 100px;
	box-shadow: 3px 3px;
}
#codeContainer{
	clear: both;
}
.chunk{
	float: left;
	margin: 0;
	width: 50%;
	padding: 0;
	position: relative;
}
.Label{
	font-family: Helvetica;
	position: absolute;
	right: 5px;
	top:5px;
	padding: 3px;
	border: 1px solid grey;
}
.chunk textarea{
	height: 100%;
	width: 100%;
	border:none;
	border-right: 1px solid grey;
	font-size: 90%;
	font-family: monotype;
	box-sizing: border-box;

}
#HTMLContainer{
}
iframe{
	margin-left: 2px; 
	width: 100%;
	height: 100%;
	border:none;
	margin-right: 3px;
	border-right: 1px solid grey;
}
.toggle{
}
.selected{
	background-color: grey;
}

.containerToggle{
	display: none ;
}
#mystery{
	width: 900px;
	height: 300px;
	position: absolute;
	left: 60%
}